{% extends 'Home.html' %}
{% block content %}
    <div class="w3-container text-center">
  <h2>Post Content</h2>

  <div class="w3-card-4 text-center text-info" style="width:43%; margin-left: 27%;">
    <header class="w3-container w3-blue">
      <h1>Content</h1>
    </header>

    <div class="w3-container">
      <ul class="tabs teal" style="margin-bottom: 30px; margin-top: 52px;">
		<h2>About your content</h2>
           <form id="get-data-form" method="post">
               {% csrf_token %}
              <b>Title:</b><br>
              <input id="title" type="text" name="title" placeholder="Blog Title"><br><br>
                <b>Author:</b><br>
                <input id="author" type="text" name="Author" placeholder="Author Name"><br><br>
                <b>Featured Image:</b><br><br>
                <input id="image" type="file" name="image" placeholder="Featured Image"><br><br>
                <b>Date:</b><br>
               <div id='datetimepicker1'>
                <input id="datetime" type="DATETIME" name="date" placeholder="YYYY-MM-DD">
                   </div>
               <br><br>
                <b>Content:</b><br>

                <textarea class="tinymce" id="texteditor"></textarea>
               <br><br>
                <input type="submit" value="Post">

		</form>
            <div id="data-container">
		</div>
	</ul>
    </div>

    <footer class="w3-container w3-blue">
      <h5>Content</h5>
    </footer>
  </div>
        </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script>$(function() {
   $('#datetime').datepicker({
       format: 'yyyy-mm-dd'
   });
 });
    </script>


{% load static %}
<script src={% static "postData.js" %}></script>
{% endblock %}