{% extends 'Home.html' %}
{% block content %}
    <h4> <a class="addArticle circle text-center">{{ user }}</a></h4> <br>
    <h4>&nbsp;</h4>
    <h4><a class="addArticle" href="/addArticle">Add Article</a></h4><br>
{#    <h4><a class="addArticle" href="/addArticle">Add Article</a></h4><br>#}
{#    <h4><a class="addArticle" href="/logout">Logout</a></h4>#}
    <h4><a class="addArticle" href="/logout">Logout</a></h4> <br>

<div class="container text-info singleArticle">
<h3>{{ article.author }}</h3> <br>
    <p>{{ article.Date }}</p> <br>

    <h1>{{ article.title }}</h1><br>
    <img style="width: 44%; height: 50%" src="{{ article.Image }}">
    <div style="margin-top: 10%">
        {{ article.Content|safe}}
    </div>


</div>
{% endblock %}