{% extends 'Home.html' %}
{% block content %}
    <h4> <a class="addArticle circle text-center" style="float: left">{{ user }}</a></h4>
    <h4><a class="addArticle" href="/addArticle">Add Article</a></h4><br>
    <h4><a class="addArticle" href="/logout">Logout</a></h4>
    <div class="text-center text-info">
    <h3>Article List</h3> <br>
        <div class="container">
            {% if ArticleList %} }
            {% for article in ArticleList %}
       <div class="col-lg-3">
            <div class="well articleCard">
                <img src={{ article.Image }}>
                <h3><a href="">{{ article.title }}</a></h3> <br>
{#               <div style="width: 100%;">{{ article.Content|safe }}</div>#}
                <div>
                    <p style="float: left">Author:{{ article.author }}</p> <br><br>
                 <p style="float: left">{{ article.Date }}</p>
            <a style="float: right" href="/article/{{ article.id }}">read more..</a>
                </div>
            </div>
        </div>
            {% endfor %}
        {% else %}
                <h3>There is no article yet added</h3>
                {% endif %}
        </div>
    </div>
{% endblock %}
</body>
</html>