{% extends 'Home.html' %}
{% block content %}
    <a style="text-align: right" href="/addArticle">Add Article</a>
    <a style="text-align: right" href="/logout">Logout</a>
    <div class="text-center text-info">
    <h3>Article List</h3> <br>
        <div class="container">
            {% for article in ArticleList %}
       <div class="col-lg-3">
            <div class="well articleCard">
                <h2><a href="">{{ article.title }}</a></h2>
                <p>Author:{{ article.author }}</p>
                <img src={{ article.Image }}>
               <div style="width: 100%;">{{ article.Content|safe }}</div>
                <div class="text-center">
                 <p>{{ article.Date }}</p>
            <a href="/article/{{ article.id }}">read more..</a>
                </div>
            </div>
        </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
</body>
</html>