<!DOCTYPE html>
<html lang="en">
<head>
    <title> Blog - app</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    {% load static %}
     <script src={% static "tinymce.js" %}></script>
    <link rel="stylesheet" href={% static "css/style.css" %}>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">#}
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />#}
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />#}
    <style>

    </style>
</head>
<body>
<div class="container well text-center glyphicon-text-color">
<h3>Welcome to the blogging site.</h3>
</div>
{% block content %}
<div class="container white z-depth-2 center">
</div>
</div>
    <div class="w3-container text-center">
  <h2>Create Blog</h2>
  <p>There is a simple blogging site where people can create and post their blog</p>

  <div class="w3-card-4 text-center" style="width:30%; margin-left: 35%;">
    <header class="w3-container w3-blue">
      <h1>Create Account</h1>
    </header>

    <div class="w3-container">
      <ul class="tabs teal" style="margin-bottom: 30px; margin-top: 52px;">
		<li class="tab col s3 btn btn-info"><a class="white-text active" href="/login">login</a></li><br><br>
		<li class="tab col s3 btn btn-info"><a class="white-text" href="/register">register</a></li>
	</ul>
    </div>

    <footer class="w3-container w3-blue">
      <h5>Create Account</h5>
    </footer>
  </div>
</div>
{% endblock %}
</body>
</html>